body {
    margin: 0;
    font-family: "Poppins", serif;
}


.primary-text {
    font-family: 'Volkhov', serif;
    font-weight: bold;
}
.primary-text span {
    color: #FA7436;
}

.secondary-text {
    font-size: 20px;
    line-height: 35px;
    color: #666666;
}

/* header stylings */
header {
    background-color: white;
    padding: 15px 0;
    width: 100%;
    text-align: center;
    position: fixed;
    z-index: 10;
}

nav {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: 0 auto;
}

nav .btn,
.btn-primary {
    font-size: medium;
    font-weight: 600;
    padding: 12px 35px;
    margin: 0 10px;
    text-decoration: none;
    border-radius: 5px;
    font-family: "Poppins", serif;
}

nav .btn {
    color: #FA7436;
}

nav .btn:hover, .btn-primary:hover {
    outline: 1px solid #FA7436;
    box-shadow: 0px 5px 10px 0px #FFA07A;
}

.btn-primary {
    height: 50px;
    width: 170px;
    background-color: #FA7436;
    border: none;
    color: white;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 30px;
    font-weight: bolder;
}

.nav-links {
    margin: 0 0 0 50px;
    width: 60%;
    list-style: none;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin: 0 15px;
}

.nav-links li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.nav-links li a:hover {
    text-decoration: underline;
}

/* landing component */
.landing {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    height: 100%;
    margin: 0 auto;
}

.landing-text {
    width: 45%;
    padding: 200px 0 25px;
}

.landing-text .primary-text {
    font-size: 60px;
    line-height: 70px;
}

.landing-text .secondary-text {
    margin: 25px 0;
    width: 90%;
}

.landing-text a {
    margin: 20px 0;
    display: inline-block;
    padding: 15px 30px;
    text-decoration: none;
    background-color: white;
    border: 1px solid #FA7436;
    border-radius: 5px;
    font-size: large;
    font-weight: 500;
    color: #FA7436;
}

.landing-text a:hover {
    background-color: #FA7436;
    color: white;
}

.landing-img {
    width: 50%;
    height: 100%;
    position: relative;
}

.landing-img .image1 {
    margin-top: 110px;
}

.landing-img .card {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    padding: 80px 0;
}

.landing-img .card-1, .landing-img .card-2, .landing-img .card-3 {
    width: 30%;
    display: flex;
    gap: 15px;
    margin: 60px auto;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    font-weight: 500;
}

.landing-img .card-2 {
    margin-left: 450px;
}

.landing-img .card-3 {
    margin-left: 100px;
}

.card span {
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    display: block;
    color: #666666;
}

.card .card-icon {
    padding: 5px 0;
}

/* Explore form */
.explore-form {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    width: 70%;
    margin: 25px auto;
    border-radius: 5px;
    box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.1);
}

.explore-form div {
    width: 25%;
    margin: 0 auto;
}

.explore-form label {
    font-weight: 500;
}

.explore-form select {
    font-size: 13px;
    height: 40px;
    border: none;
    color: #666666;
}

/* Tour component */
.tour {
    width: 100%;
    margin: 50px 0;
    background-color: #F7F8FC;
}

.tour-text, .discount-text {
    width: 50%;
    margin: 0 auto;
    padding: 50px 50px 10px;
}

.tour-text .primary-text, .discount-text .primary-text {
    font-size: 35px;
    text-align: center;
}

.tour-text .secondary-text, .discount-text .secondary-text {
    text-align: center;
    padding: 20px;
}

.tour-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 50px 60px;
}

.tour-card {
    width: 280px;
    margin: 0 30px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
}

.tour-card:hover {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
}

.tour-card .card-icon {
    height: 35%;
}

.tour-card p {
    margin-top: 20px;
    color: #222222;
    font-weight: 600;
    font-size: 20px;
}

.tour-card p span {
    color: #666666;
    font-size: 15px;
    font-weight: 350;
}
